#
# Dependencies Required to Use `pycommons`
#
# In this file we list all the libraries that are required to use `pycommons`.
# You must install them before using `pycommons`.
# If you install `pycommons` via pip, i.e., do `pip install pycommons`, then this
# is done automatically for you. Otherwise, you could do
# `pip install --no-input --timeout 360 --retries 100 -r requirements.txt`
# with a text file `requirements.txt` that has the exact same contents as this
# file here.
#
# `pycommons` is available at https://thomasweise.github.io/pycommons.
# This file is available at https://github.com/thomasWeise/pycommons.
#
# Below, we list each required library and specify the reason why it is
# needed. Notice that these libraries may, in turn, depend on other libraries.
# We cannot maintain a full list of these recursive dependencies.
# Here we only list the top-level dependencies that are actually used by
# `pycommons` directly.
#

# urllib3 and certifi are used to check the URLs in the [dev] extras variant
# of our package. They are used to check URL in markdown files.
urllib3 == 1.26.18
certifi == 2023.7.22

# these static analysis tools are also needed for the [dev] extras variant
# only
autoflake == 2.2.1
bandit == 1.7.5
coverage == 7.3.2
coverage-badge == 1.1.0
dlint == 0.14.1
dodgy == 0.2.1
flake8 == 6.1.0
flake8-bugbear == 23.9.16
flake8-eradicate == 1.5.0
flake8-use-fstring == 1.4
mypy == 1.6.1
pycodestyle == 2.11.1
pydocstyle == 6.3.0
pyflakes == 3.1.0
pylint == 3.0.2
pyroma == 4.2
ruff == 0.1.2
semgrep == 1.46.0
tryceratops == 2.3.2
unimport == 1.0.0
vulture == 2.10
